.App {
  text-align: center;
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
}
.inventory-list {
  max-height: 400px;
  overflow-y: scroll;
  /* Additional styling for scrollbar, padding, etc., can go here */
}
